<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Kategorileri Düzenle</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Kategoriler</a></li>
          <li class="breadcrumb-item active" aria-current="page">Kategorileri Düzenle</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Yeni Kategori Oluştur</h4>
            <p class="card-description">Yeni Bir kategori eklemek için bu paneli kullanın.</p>
            <form class="forms-sample">
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">
                  Kategori İsmi
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Kategori Adı"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Kategori Açıklaması</label>
                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
              </div>
              <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Kategori Sil</h4>
            <p class="card-description">
              Kategori Silerken Dikkatli Olun! Sildiğiniz kategorideki ürünler "Kategorize
              edilmemiş" olarak görünecektir.
            </p>
            <form class="forms-sample">
              <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">
                  Kategori İsmi
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder="Kategori Adı"
                  />
                </div>
              </div>
              <div class="form-group">
                <p class="card-description">
                  Lütfen aşağıdaki alana "categoryName adlı kategoriyi silmek istiyorum" yazın.
                </p>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputUsername2"
                    placeholder=""
                  />
                </div>
              </div>
              <button class="btn btn-dark">Sil</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Kategoriler</h4>
          <p class="card-description">Hali hazırda sisteminizde bulunan kategorilerin listesi</p>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Kategori İsmi</th>
                  <th>Satış Durumları</th>
                  <th>İçerilen Ürün Miktarı</th>
                  <th>Son Satış</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 25%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>77</td>
                  <td>May 15, 2015</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-danger"
                        role="progressbar"
                        style="width: 75%"
                        aria-valuenow="75"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>245</td>
                  <td>July 1, 2015</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-warning"
                        role="progressbar"
                        style="width: 90%"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>138</td>
                  <td>Apr 12, 2015</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-primary"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>77</td>
                  <td>May 15, 2015</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-danger"
                        role="progressbar"
                        style="width: 35%"
                        aria-valuenow="35"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>160</td>
                  <td>May 03, 2015</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 65%"
                        aria-valuenow="65"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>123</td>
                  <td>April 05, 2015</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>categoryName</td>
                  <td>
                    <div class="progress">
                      <div
                        class="progress-bar bg-warning"
                        role="progressbar"
                        style="width: 20%"
                        aria-valuenow="20"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </td>
                  <td>150</td>
                  <td>June 16, 2015</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Düzenle</button>
      </div>
    </div>
  </div>
</div>
