$blue: #34495e;
$lightblue: #3498db;
$darkblue: #2c3e50;

a {
  cursor: pointer;
  display: block;
  line-height: 45px;
  border-left: 0 solid $blue;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  // letter-spacing: 2px;
  border-bottom: 1px solid $darkblue;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  i {
    width: 35px;
  }
  color: rgba(255, 255, 255, 0.6) !important;
  &:hover,
  &:focus,
  &.active {
    background: $darkblue;
    border-left-color: $lightblue;
    border-left-width: 5px;
    color: #3498db !important;
  }
}

.overflow-auto {
  height: 100%;
  max-height: 616px;
}

.checkdate {
  margin-top: -20px;
}

.text-success {
  color: #5cdc8a !important;
}
