<ng-container *ngIf="dataList$ | async as data">
  <div class="card">
    <div class="card-body">
      <div class="row d-flex justify-content-end mb-2">
        <div class="col-4 d-flex justify-content-end">
          <button class="btn btn-success" (click)="add()">Yeni kullanıcı</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="filter.username"
            placeholder="İsim"
          />
        </div>

        <div class="col-4">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="filter.email"
            placeholder="E-posta"
          />
        </div>

        <div class="col-2">
          <button class="btn btn-primary w-100" (click)="resetFilter()">Sıfırla</button>
        </div>
        <div class="col-2">
          <button class="btn btn-primary w-100" (click)="setFilter(filter)">Ara</button>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ngx-datatable
            #table
            class="bootstrap"
            [rows]="data.result"
            [columnMode]="columnMode"
            [headerHeight]="40"
            [footerHeight]="40"
            (sort)="onSort($event)"
            [count]="data.total"
            [externalPaging]="true"
            [externalSorting]="true"
            [offset]="pager.offset"
            (page)="setPage($event)"
            [limit]="pager.pageSize"
            rowHeight="auto"
          >
            <ngx-datatable-column
              [name]="'websites.name' | translate"
              prop="name"
            ></ngx-datatable-column>
            <ngx-datatable-column name="E-posta" prop="username"></ngx-datatable-column>
            <ngx-datatable-column name="Bakiye" prop="balance"></ngx-datatable-column>
            <ngx-datatable-column
              name="Seçenekler"
              [sortable]="false"
              [draggable]="false"
              prop="id"
              [width]="50"
            >
              <ng-template ngx-datatable-cell-template let-value="value">
                <div class="col-3 d-flex justify-content-between align-items-center">
                  <a (click)="edit(value)">
                    <em class="text-primary cursor-pointer fa fa-edit"></em>
                  </a>
                  <!-- <a (click)="delete(value)"
                    ><em
                      class="text-danger cursor-pointer fa fa-trash-alt"
                    ></em>
                  </a> -->
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</ng-container>
