<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Kayıtlı Ürünler</h4>
        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
          <input type="text" class="form-control" placeholder="Ürün Ara" />
        </form>
        <div class="table-responsive">
          <table class="table table-dark">
            <thead>
              <tr>
                <th>#</th>
                <th>Ürün ismi</th>
                <th>Stok</th>
                <th>Fiyat</th>
                <th>Eklenme Tarihi</th>
                <th>Düzenlenme Tarihi</th>
                <th>Kategori</th>
              </tr>
            </thead>
            <tbody *ngFor="let product of dataSource; let i = index">
              <tr>
                <td>{{ i }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.createdDate }}</td>
                <td>{{ product.changeDate }}</td>
                <td>{{ product.id }}</td>

                <td><button type="submit" class="btn btn-primary mr-2">Düzenle</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
