<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Ürünler</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Ürünler</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ürünleri Düzenle</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <!-- Ürün ekleme alanı burada !  -->
      <div>
        <tib-create></tib-create>
      </div>

      <!-- Ürün silme alanı burada !  -->
      <div>
        <tib-delete></tib-delete>
      </div>
    </div>
    <!--  Ürün Listesi alanı burada -->
    <tib-list></tib-list>
  </div>
</div>
