<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Yeni Ürün Ekle</h4>
      <p class="card-description">Ürün Detayları</p>
      <form class="forms-sample">
        <div class="form-group">
          <label for="exampleInputName1">İsim</label>
          <input
            #txtName
            type="text"
            class="form-control"
            id="exampleInputName1"
            placeholder="Ürün İsmi"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName1">Fiyat</label>
          <input
            #txtPrice
            type="text"
            class="form-control"
            id="exampleInputName1"
            placeholder="Ürün Fiyatı"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName1">Stok</label>
          <input
            #txtStock
            type="text"
            class="form-control"
            id="exampleInputName1"
            placeholder="Ürün Stok Bilgisi"
          />
        </div>
        <button
          type="button"
          (click)="create(txtName, txtStock, txtPrice)"
          class="btn btn-primary mr-2"
        >
          Ekle
        </button>
        <button class="btn btn-dark">Temizle</button>
      </form>
    </div>
  </div>
  <div class="card">
    <hr />
  </div>
</div>
